@font-face {
  font-family: "{{fontname}}";
  src: url('fonts/{{fontname}}.eot?t={{timestamp}}'); /* IE9*/
  src: url('fonts/{{fontname}}.eot?t={{timestamp}}#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("fonts/{{fontname}}.woff?t={{timestamp}}") format("woff"),
  url('fonts/{{fontname}}.ttf?t={{timestamp}}') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/{{fontname}}.svg?t={{timestamp}}#{{fontname}}') format('svg'); /* iOS 4.1- */
}

[class^="{{prefix}}-"], [class*=" {{prefix}}-"] {
  font-family: '{{fontname}}' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


{{cssString}}