@font-face {
  font-family: "{{fontname}}";
  src: url("{{fontsDistName}}/{{fontname}}.eot?t={{timestamp}}"); /* IE9*/
  src: url("{{fontsDistName}}/{{fontname}}.eot?t={{timestamp}}#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("{{fontsDistName}}/{{fontname}}.woff?t={{timestamp}}") format("woff"),
  url("{{fontsDistName}}/{{fontname}}.ttf?t={{timestamp}}") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("{{fontsDistName}}/{{fontname}}.svg?t={{timestamp}}#{{fontname}}") format("svg"); /* iOS 4.1- */
}

[class^="{{prefix}}-"], [class*=" {{prefix}}-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'element-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


{{cssString}}